*{/*Preferencialmete colocar essas tags no início para resetar a configuração automática.*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Dicas de personalização
h1 {
    color: green
}

h2 {
    color: green
}

#Economy h2{
    color: gold;
}

.creation-date {
    color: #ccc;
}*/

body > header {/*caso seja somente header ele entende que todos os header devem ser iguais. Agora com o body(tag pai) ele entende que estou falando do filho direto da tag body*/
    background-color: rgb(228, 228, 173);
    padding: 16px 0;/*para adiciona espaçamento ao cabeçalho o px precisa ser juto com o número*/
    color: brown;
}

header .container{
    display: flex; /*um elemento do lado do outro*/
    align-items: center; /*centraliza os itens*/
    justify-content: space-between;/*cria espaçamento para jogar os outros itens a estrema esquerda*/
}

header li {/*resgata as tags li do header e nas opções: inline(elementos em linha), block (elementos em blocos), none(não apresentar elementos)*/
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: brown;
    text-decoration: none;
}

.container {/*extremidade superior auto estremidade da direita 0 extremidade inferior auto extremidade da esquerda(superior + inferior, esquerda + direita) pode ser  0 auto*/
    
    width: 90%;/*1366px tamanho padrão de um notebook hd eu coloquei 90% para se adequar o conteúdo a 90% do display*/
    margin: 0 auto;
}

.articles {
    display: flex;/*irá manter um conteúdo ao lado do outro*/
    flex-wrap: wrap;/*irá criar uma linha quando o tamanho da linha terminar ao invés de tentar encaichar todos os artigos agrapados numa mesma linha*/
    justify-content: space-between/*para distribuir o espaço restante dos 100 % -30% -30% -30% = 10% igualmente entre os artigos.*/
}

.articles article img{
    /*height: 170px;Quando limita a altura, a largura irá se adequar para manter a proporção*/
    width: 100%;/*é a largura da imagem dentro da área do artigo*/
    height: 35%;
}
.articles article {
    width: 30%;/*30% da largura da tela para cada artigo*/
}

section {
    padding: 16px 0;
}

section h2, .articles article {/*colacando , podemos adicionar mais de uma tag para o mesmo comando*/
    margin-bottom: 16px;
}

.articles article {
    margin-top: 8px;
    margin-bottom: 8px;/*margem entre os artigos*/
}

.articles article a {/*isso serve para criar um botão assim facilitando a entrada no link*/
    /*background-color: blue;cor do fundo*/
    color: rgb(72, 68, 68);/*cor do texto*/
    padding: 8px;
    display: inline-block; /*para assim respeitar o espaçamento criado no "botão"*/
    text-decoration: none;/*para tirar o underline criado quando usando um link assim fica com mais cara de botão, se quiser colocar sublinhado colocar underline*/
    font-weight: bold;/*ficar em negrito*/
    margin-top: 8px;
}

.articles article a:hover {/*efeito para quando passar o mouse em cima o texto ficar sublinhado*/
    text-decoration: underline;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;/*mudar estilo da fonte*/
}

.articles article {
    font-size: 24px;/*reajuste de tamanho de ponte*/
}

section h2 {
    font-size: 32px;
}

#Sports {
    background-color: rgba(0, 255, 0, 0.1); /*aplica cor de fundo na seção de esporte podendo escolher a intensidade das cores e suas variações*/
}

#Sports .articles article a {
    background-color: rgba(0, 73, 0, 0.632);
    color: white;
}

#Economy {
    background-color: rgba(246, 255, 0, 0.6);
}

#Economy .articles article a{
    background-color: rgba(134, 139, 0, 0.856);
    color: black;
}

#Entertainment{
    background-color: blanchedalmond;
}

#Entertainment .articles article a{
    background-color: rgba(231, 174, 88, 0.7);
    color: black;
}

#Tecnology{
    background-color: skyblue;
}
#Tecnology .articles article a{
    background-color: rgba(0, 48, 67, 0.7);
    color: white;
}

.articles article {
    text-align: center; /*centraliza os textos*/
}