
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
#container {
    width: min-content;
    margin: 25px auto;
}

.form-campo {
    margin: 10px 0px ;
}

#cName-error, #email-error, #tel-error, #address-error, #cep-error, #cpf-error  {/*isso é para estilizar a mensagem de error dos elementos*/
    color: red;
}